<mat-card class="header-card">
  <mat-card-header>
    <mat-card-title class="page-title">📅 Timetable Overview</mat-card-title>
    <mat-card-subtitle class="page-subtitle">Score: {{score}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<small class="description-text">Manage and view generated timetable for students and faculty teachers here.</small>
<br>
<mat-divider></mat-divider>
<br>

<div *ngIf="toggle == 'student'" id="filter">
    <div class="filter-container">

        <form [formGroup]="studentGroupFormGroup">
            <mat-form-field appearance="outline">
                <mat-label>Select Student Group</mat-label>
                <input type="text" placeholder="313 AA" #studentGroup matInput formControlName="studentGroupControl" [matAutocomplete]="autoStudent" (focus)="selectInput($event)">
                <mat-autocomplete #autoStudent="matAutocomplete" (optionSelected)="filterTimetable(studentGroup.value, studentGroupSemiGroup.value)">
                    <mat-option *ngFor="let studentGroup of filteredStudentGroups | async" [value]="studentGroup">
                        {{ studentGroup }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>

        <mat-form-field appearance="outline" class="filter-field">
            <mat-label>Select Student Subgroup:</mat-label>
            <mat-select #studentGroupSemiGroup (selectionChange)="filterTimetable(studentGroup.value, studentGroupSemiGroup.value)">
                <mat-option value="SEMI_GROUP0">Subgroup 0</mat-option>
                <mat-option value="SEMI_GROUP1">Subgroup 1</mat-option>
                <mat-option value="SEMI_GROUP2">Subgroup 2</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="toogle('teacher')">See Teacher Timetable</button>
    </div>
</div>


<div *ngIf="toggle == 'teacher'" id="filter">
    <div class="filter-container">

        <form [formGroup]="teacherFormGroup">
            <mat-form-field appearance="outline">
                <mat-label>Select Teacher:</mat-label>
                <input type="text" placeholder="Fl.Pop" #teacher matInput formControlName="teacherControl" [matAutocomplete]="autoTeacher" (focus)="selectInput($event)">
                <mat-autocomplete #autoTeacher="matAutocomplete" (optionSelected)="filterTeachers(teacher.value)">
                    <mat-option *ngFor="let teacher of filteredTeachers | async" [value]="teacher">
                        {{ teacher }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>


        <button mat-raised-button color="primary" (click)="toogle('student')">See Student Timetable</button>

    </div>
</div>

<div id="timetable">
    <!-- Timetable content will be dynamically added here using JavaScript -->
</div>

<div *ngIf="isAdmin(user)" class="button-container">
    <button mat-raised-button color="primary">Print The Timetable</button>
    <button mat-raised-button color="primary">Edit The Timetable</button>
    <button mat-raised-button color="primary" (click)="openAnalysisDialog()">Analyze Solution</button>
</div>
