.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.mat-toolbar {
    width: 100%;
    position: fixed;
    top: 0;
}

.app-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.login-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-content {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

mat-form-field {
    width: 100%;
    margin-bottom: 15px;
}

button {
    width: 100%;
}