<div mat-dialog-title>
    <h1>Teacher Form</h1>
</div>

<form [formGroup]="teacherForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">

        <mat-form-field appearance="outline">
            <mat-label>Teacher name</mat-label>
            <input matInput type="text" placeholder="Fl.Pop" formControlName="name">
            <mat-error *ngIf="teacherForm.get('name')?.hasError('required')">
              Teacher name is required
            </mat-error>
        </mat-form-field>

        <br>

      <div class="timeslots-section">
        <h3>Preferred Timeslots</h3>
        <button type="button" mat-raised-button color="accent" (click)="addTimeslot()">
          Add Timeslot
        </button>

        <div formArrayName="preferredTimeslots" class="timeslots-list">
          <div *ngFor="let timeslot of preferredTimeslots.controls; let i = index"
               [formGroupName]="i" class="timeslot-form">

            <mat-card class="timeslot-card">
              <mat-card-content>
                <div class="timeslot-fields">
                  <mat-form-field appearance="outline">
                    <mat-label>Day of Week</mat-label>
                    <mat-select formControlName="dayOfWeek">
                      <mat-option *ngFor="let day of daysOfWeek" [value]="day">
                        {{ day }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Start Time</mat-label>
                    <input matInput type="time" formControlName="startTime">
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>End Time</mat-label>
                    <input matInput type="time" formControlName="endTime">
                  </mat-form-field>

                  <button type="button" mat-icon-button color="warn"
                          (click)="removeTimeslot(i)" class="remove-btn">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>

    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
    </div>
</form>
