<h2>Lessons</h2>

<button mat-raised-button color="primary" class="lessonForm" (click)="openAddEditLessonForm()">Add Lesson</button>

<div class="filter-container">
    <mat-form-field class="filter-field">
        <mat-label>Subject</mat-label>
        <input matInput [(ngModel)]="filterValues.subject" (keyup)="applyFilter('subject', filterValues.subject)" placeholder="Search Subject">
    </mat-form-field>

    <mat-form-field class="filter-field">
        <mat-label>Teacher</mat-label>
        <input matInput [(ngModel)]="filterValues.teacher" (keyup)="applyFilter('teacher', filterValues.teacher)" placeholder="Search Teacher">
    </mat-form-field>

    <mat-form-field class="filter-field">
        <mat-label>Student Group</mat-label>
        <input matInput [(ngModel)]="filterValues.studentGroup" (keyup)="applyFilter('studentGroup', filterValues.studentGroup)" placeholder="Search Group">
    </mat-form-field>

    <mat-form-field class="filter-field">
        <mat-label>Type</mat-label>
        <mat-select [(ngModel)]="filterValues.lessonType" (selectionChange)="applyFilter('lessonType', $event.value)">
            <mat-option value="">All</mat-option>
            <mat-option value="COURSE">Course</mat-option>
            <mat-option value="LABORATORY">Laboratory</mat-option>
            <mat-option value="SEMINAR">Seminar</mat-option>
            <mat-option value="PROJECT">Project</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="filter-field">
        <mat-label>Year</mat-label>
        <mat-select [(ngModel)]="filterValues.year" (selectionChange)="applyFilter('year', $event.value)">
            <mat-option value="">All</mat-option>
            <mat-option value="FIRST">1st Year</mat-option>
            <mat-option value="SECOND">2nd Year</mat-option>
            <mat-option value="THIRD">3rd Year</mat-option>
            <mat-option value="FOURTH">4th Year</mat-option>
            <mat-option value="FIFTH">5th Year</mat-option>
            <mat-option value="SIXTH">6th Year</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-checkbox [(ngModel)]="filterValues.pinned" (change)="applyFilter('pinned', $event.checked ? true : null)">Pinned Only</mat-checkbox>

    <button mat-flat-button class="reset-button" (click)="resetFilters()">
        <mat-icon>refresh</mat-icon>
        Reset Filters
    </button>
</div>

<mat-table [dataSource]="dataSource" class="table">
    <ng-container matColumnDef="subject">
        <mat-header-cell *matHeaderCellDef>Subject</mat-header-cell>
        <mat-cell *matCellDef="let lesson">{{ lesson.subject }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="teacher">
        <mat-header-cell *matHeaderCellDef>Teacher</mat-header-cell>
        <mat-cell *matCellDef="let lesson">{{ lesson.teacher.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="studentGroup">
        <mat-header-cell *matHeaderCellDef>Student Group</mat-header-cell>
        <mat-cell *matCellDef="let lesson">{{ lesson.studentGroup.name }} - {{ lesson.studentGroup.studentGroup }} - {{ lesson.studentGroup.semiGroup }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="lessonType">
        <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
        <mat-cell *matCellDef="let lesson">{{ lesson.lessonType }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="year">
        <mat-header-cell *matHeaderCellDef>Year</mat-header-cell>
        <mat-cell *matCellDef="let lesson">{{ lesson.year }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="duration">
        <mat-header-cell *matHeaderCellDef>Duration</mat-header-cell>
        <mat-cell *matCellDef="let lesson">{{ lesson.duration }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="pinned">
        <mat-header-cell *matHeaderCellDef>Pinned</mat-header-cell>
        <mat-cell *matCellDef="let lesson">
            <div class="pinned-indicator" *ngIf="lesson.pinned">
                <mat-icon class="pinned-icon" matTooltip="This lesson is pinned to a specific timeslot/room">push_pin</mat-icon>
            </div>
            <span *ngIf="!lesson.pinned" class="not-pinned">-</span>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="openEditForm(row)">
            <mat-icon>edit</mat-icon>
          </button>
            <button mat-icon-button color="warn" (click)="deleteLesson(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [class.pinned-row]="row.pinned"></mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of lessons"></mat-paginator>